/* Created by: Emma Janani
* Created on: March 2022
* This CSS file defines the style for jamaica.html
* ICS2O-Assign-01: HTML, CSS & JS
*/

body {
  background-color: #228c3e;
}

h1 {
  background-color: Black;
  color: White;
  padding: 40px;
  text-align: center;
}

h6 {
  background-color: Black;
  color: White;
}

h5 {
  background-color: Black;
  color: White;
}

<div style="background-color:blue">
