/* Created by: Emma Janani
* Created on: March 2022
* This CSS file defines the style for spain.html
* ICS2O-Assign-01: HTML, CSS & JS
*/

body {
  background-color: #bd1e1e;
}

h1 {
  background-color: rgb(255, 255, 255);
  color: Black;
  padding: 40px;
  text-align: center;
}

h4 {
  background-color: rgb(255, 255, 255);
  width: 45%;
}

h5 {
  background-color: rgb(255, 255, 255);
  width: 100%;
}

h6 {
  background-color: rgb(255, 255, 255);
  width: 80%;
}

ul {
  background-color: rgb(255, 255, 255);
  width: 7%;
}

p {
  background-color: rgb(255, 255, 255);
  width: 60%;
}

<div style="background-color:blue">